.back {
  background-image: url("./images/back.png");
  width: 100%;
  height: 130vh;
}

.plann {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125.3%;
  text-align: center;
  /* identical to box height, or 30px */
  color: #3C4852;
  /* Inside auto layout */

}

.btn-outline {
  outline-color: red;
  border: 1px solid red;
  outline-style: solid;
  background-color: linear-gradient(135deg, rgba(222, 67, 19, 0.2) 0%, rgba(222, 67, 19, 0.2) 0.75%, rgba(222, 67, 19, 0.2) 2.92%, rgba(222, 68, 20, 0.2) 6.37%, rgba(223, 69, 21, 0.2) 10.97%, rgba(223, 72, 22, 0.2) 16.59%, rgba(224, 75, 24, 0.2) 23.1%, rgba(225, 80, 27, 0.2) 30.37%, rgba(227, 86, 31, 0.2) 38.27%, rgba(229, 94, 36, 0.2) 46.66%, rgba(231, 104, 43, 0.2) 55.41%, rgba(235, 117, 51, 0.2) 64.39%, rgba(238, 132, 60, 0.2) 73.47%, rgba(243, 149, 71, 0.2) 82.52%, rgba(248, 169, 84, 0.2) 91.41%, rgba(254, 193, 99, 0.2) 100%) !important;
}

.btn-outline:hover {
  background: red;
}

/* card */

::selection {
  background: #d5bbf7;
}

.card {
  max-width: 450px;
  width: 100%;
  margin: 30px auto;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.card .title {
  font-size: 22px;
  font-weight: 500;
}

.card .content {
  margin-top: 5px;
}

.card label.box {
  background: #fff;
  margin-top: 12px;
  padding: 10px 12px;
  display: flex;
  border-radius: 5px;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: all 0.25s ease;
  position: relative;
}

.butt {

  position: absolute;
  width: 121px;
  height: 23px;
  left: 62px;
  top: 0px;
  background: #F77171;
  border-radius: 0px 0px 4px 4px;
}

.buttt {

  position: absolute;
  width: 121px;
  height: 23px;
  left: 62px;
  top: 0px;


  background: #47BA68;
  border-radius: 0px 0px 4px 4px;

  /* Inside auto layout */


}

.limit {

  width: 129px;
  height: 19px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #DE4313;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  position: absolute;
  width: 121px;
  height: 23px;

  top: 3px;
  margin-right: 50px;


  color: red;
  border-radius: 0px 0px 4px 4px;

  /* Inside auto layout */


}

.rupee {
  position: absolute;
  width: 121px;
  height: 23px;
  left: 62px;
  top: 3px;
  margin-left: 250px;
  border-radius: 0px 0px 4px 4px;
}

#one:checked~label.first,
#two:checked~label.second,
#three:checked~label.third,
#four:checked~label.four,
#five:checked~label.five {
  outline-color: #47ba68;
  border: 1px solid #47ba68;
  outline-style: solid;

}

.card label.box:hover {
  background: #ddd;
}

.card label.box .circle {
  height: 22px;
  width: 22px;
  background: #ccc;
  border: 5px solid transparent;
  display: inline-block;
  margin-right: 15px;
  border-radius: 50%;
  transition: all 0.25s ease;
  box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.2);
}

#one:checked~label.first .circle,
#two:checked~label.second .circle,
#three:checked~label.third .circle,
#four:checked~label.four .circle,
#five:checked~label.five .circle {
  border-color: #47ba68;
  background: #47ba68;
}

.card label.box .plan {
  display: flex;
  width: 100%;
  align-items: center;
}

.card input[type="radio"] {
  display: none;
}
.yearly{
 

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 120%;
/* or 19px */

display: flex;
align-items: center;
text-align: center;

color: #3C4852;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.boxx{
background: #E7E7E7 !important;
}
.hr-line:before{
  content:" ";
  display: block;
  height: 4px;
  width: 81px;
  position: absolute;
  top: 50%;
  left: 0;
  background: red;
}
.hr-line{
  position: relative;
}

@media only screen and (max-width: 500px) {
  .count {
    display: flex;
    flex-direction: column;
  }
  .back {
    background-image: url("./images/back.png");
    width: 100%;
    height: 540vh;
  }
  .rupee {
    position: absolute;
    width: 60px;
    height: 23px;
    left: 30px;
    top: 3px;
    margin-left: 319px;
    border-radius: 0px 0px 4px 4px;
  }
  .proceed {
    margin-left: 7px;
  }
  
  
}
@media only screen and (max-width: 400px) {
  .count {
    display: flex;
    flex-direction: column;
  }
  .back {
    background-image: url("./images/back.png");
    width: 100%;
    height: 558vh;
  }
  .rupee {
    position: absolute;
    width: 60px;
    height: 23px;
    left: 30px;
    top: 3px;
    margin-left: 185px;
    border-radius: 0px 0px 4px 4px;
  }
  .offer {
    top: 3px;
    margin-right: 20px;
    width: 130px;
    height: 19px;
  
  }
  .proceed {
    margin-left: 7px;
  }
  
}

@media only screen and (max-width: 991px) {
  /* .count {
    display: flex;
    flex-direction: column;
  } */
  .back {
    background-image: url("./images/back.png");
    width: 100%;
    height: 558vh;
  }
  .rupee {
    position: absolute;
    width: 60px;
    height: 23px;
    left: 30px;
    top: 3px;
    margin-left: 160px;
    border-radius: 0px 0px 4px 4px;
  }
  .offer {
    top: 3px;
    margin-right: 20px;
    width: 160px;
    height: 19px;
  
  }
  
  .proceed {
    margin-left: 7px;
  }
  
}